{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Cadastro |{% endblock %}
{% block conteudo %}
{% include 'parciais/_nav_login.html' %}
{% block nav %}
  {% comment %} {% include 'parciais/_nav.html' %} {% endcomment %}
{% endblock %}
<div class="container">
<div class="row">
<div class="col-lg-12">
<h1 class="mt-3 mb-3 text-center" >Cadastro</h1><br>
<div class="col d-flex justify-content-center" >
<div class="card w-50 border-0">
<form method="post" action="{% url 'cadastro' %}">
    {% csrf_token %}
    {% if messages %}
        {% include 'parciais/_messages.html'%}
    {% endif %}
    
    <div class="row g-3">
        <div class="col">
            {% bootstrap_form form %}
        </div>
    </div><br>
    <div class="row g-3">
        <div class="col">
            <button type="submit" class="btn btn-primary btn-block mb-4">Concluir cadastro</button>
        </div>
        <div class="col">
            <a href="{% url 'login' %}" class="btn btn-primary btn-block mb-4">Já tenho conta</a>
        </div>
        
</form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}


