{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="col-lg-12"> 
            <div class="container">
                <div class="row">
                <div class="col-lg-12">
                <h1 class="mt-3 mb-3 text-center" >Editar Categoria</h1><br>
                <div class="col d-flex justify-content-center" >
                <div class="card w-50 border-0">
                        <div class="row g-3">
                            <div class="col">
                                <form action="{% url 'editcategoria' categoria.id %} " method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if messages %}
                                        {% include 'parciais/_messages.html' %}
                                    {% endif %}
                                    <table class="table" >
                                     {{ form }}
                                    </table>
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary btn-block mb-4">Editar Categoria</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}